<h1>Users Summary: <%= @user.username %></h1>

<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
  </tr>
  <tr>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>o</td>
  </tr>
</table>

<%= link_to "See all Users", users_path %>
<%= link_to "Back to Media List", root_path %>