<h1>HOME</h1>
<section>
  <h2>Media Spotlight: </h2>
  <%= Work.top_work.title %> by <%= Work.top_work.creator %>
</section>


<% @category.each do |category| %>
  <section>
    <h2>Top <%= category  %> </h2>
    <ul>
    <% Work.top_10(category).each do |work| %>
      <li><%= work.title %></li>
    <% end %>
    </ul>
  </section>
<% end  %>
