// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

main {
  padding: 2rem;
}

a:hover {
  color:#00796B;
  text-decoration: none;
}

.spotlight {
  padding: 0 2rem 2rem 2rem;
}

.spotlight__header {
  color: #26A69A;
}

.spotlight__header--prefix {
  color: #424242;
}

a, h2, h3 {
  color: #26A69A;
}

.spotlight__link-to {
  border-bottom: 2px solid;
}

.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

.top-ten__header {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item {
  border: none;
}

.top-ten__creator {
  color: slategrey;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}